@import url("normalize.css");

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.main-title {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.memes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.memes-item {
  border-radius: 20px;
  overflow: hidden;
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.memes-img {
  overflow: hidden;
  border-radius: 15px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.memes-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all ease 0.3s;
}

.memes-img-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgb(0 0 0 / 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.memes-img-open img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.memes-img:hover {
  scale: 1.05;
}

.memes-like {
  border: 2px solid #8eff8e;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  margin-inline: auto;
  display: block;
}

.memes-like:hover {
  border: 2px solid #09a609;
  background-color: #09a609;
}

.memes-like-liked {
  background-color: #8eff8e;
}

.close-photo {
  display: none;
  aspect-ratio: 1;
  position: fixed;
  top: 15px;
  right: 15px;
  height: 50px;
  overflow: hidden;
  z-index: 2000;
}

.close-photo.close-btn-visible {
  display: block;
}
